<!-- indice.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balanceamento - Linha de Montagem</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header class="header">
        <img src="../static/imgs/brand-white.svg" alt="Logo" class="logo">
        <h1>BALANCEAMENTO - LINHA DE MONTAGEM 1</h1>
        <img src="../static/imgs/sim_logo.png" alt="Sistema Integrados de Manufatura" class="sim-logo">
    </header>

    
    <div class="container">
        <div class="status-bar">
            <p id="status-datetime">Carregando data e hora...</p>
        </div>
        <section class="indicators">
            <div class="indicator-box">
                <div class="charts-container">
                    <div class="chart-box"><canvas id="oee_gargalo">Posto</canvas></div>
                    <div class="chart-box"><canvas id="oee"></canvas></div>
                    <div class="chart-box"><canvas id="id"></canvas></div>
                    <div class="chart-box"><canvas id="ie"></canvas></div>
                    <div class="chart-box"><canvas id="iq"></canvas></div>
                </div>
            </div>
            <div class="indicator-box">
                <div class="production"><canvas id="produced-pieces-chart"></canvas></div>
            </div>
        </section>
        
        <section class="balance-chart">
            <h1>Balanceamento</h1>
            <div id="filters"></div>
            <canvas id="balance"></canvas>
        </section>
        
        <div class="process-flow">
            <div class="step" id="flow-Posto1">Posto 1</div>
            <div class="step" id="flow-Posto2">Posto 2</div>
            <div class="step" id="flow-Posto3">Posto 3</div>
            <div class="step" id="flow-Posto4">Posto 4</div>
            <div class="step" id="flow-Posto5">Posto 5</div>
            <div class="step" id="flow-Posto6">Posto 6</div>
            <p>Tempo total = 0.00s</p>
        </div>

        <section class="additional-info" id="additional-info"></section>

    </div>
    <script src="../static/script.js"></script>
    <script src="../static/charts.js"></script>
    <script src="../static/charts_initializers.js"></script>
    <script src="../static/charts_updaters.js"></script>
</body>
</html>
